<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Reversi</title>
  <meta name="description" content="Connect4 game">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <!-- build:js http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js -->
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <!-- /build -->

  <!-- For the game rules/instructions, I use carousel from Angular UI + Bootstrap -->
  <!-- build:css http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
  <!-- /build -->
  <!-- build:js http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-touch.min.js -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-touch.js"></script>
  <!-- /build -->
  <!-- build:js http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
  <!-- /build -->

  <!-- build:js dist/everything.min.js -->
  <script src="gameLogic.js"></script>
  <script src="game.js"></script>
  
  <!-- /build -->
  <script>
  window.angularTranslationLanguages = ['en', 'hn'];
  </script>
  <!-- build:js http://yoav-zibin.github.io/emulator/dist/turnBasedServices.2.min.js -->
  <script crossorigin="anonymous" src="http://yoav-zibin.github.io/emulator/dist/turnBasedServices.2.js"></script>
  <!-- /build -->
 
  <link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">
  <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body ng-cloak ng-controller="Ctrl">

  <div style="position:absolute; bottom:5px; left: 5px">
    <span ng-click="isHelpModalShown = true"
        class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </div>

  <div class="overlayModal" ng-show="isHelpModalShown" aria-hidden="true">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="isHelpModalShown = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">
            {{ 'RULES_OF_CONNECT4' | translate }}
          </h4>
        </div>
        <div class="modal-body">
          <carousel style="height: 150px">
            <slide>
              <table>
                <tr>
                  <td>
                    {{ 'RULES_SLIDE1' | translate }}
                  </td>
                  <td>
                    <img src="img/HelpSlide1.png" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
            <slide>
              <table>
                <tr>
                  <td>
                  {{ 'RULES_SLIDE2' | translate }}
                  </td>
                  <td>
                    <img src="img/HelpSlide2.png" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
          </carousel>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="isHelpModalShown = false">
            {{ 'CLOSE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>



  <div id="gameArea">

     <svg id="draggingLines" width="100%" height="100%"
        style="display:none; position:absolute; z-index: 30;">
      <line id="horizontalDraggingLine"
            x1="0" y1="12.5%"
            x2="100%" y2="12.5%"
            stroke="#000"
            stroke-width="2%"/>
      <line id="verticalDraggingLine"
            y1="0" x1="12.5%"
            y2="100%" x2="12.5%"
            stroke="#000"
            stroke-width="2%"/>
    </svg>

     <img ng-attr-width="{{100 / colsNum}}%" ng-attr-height="{{100 / rowsNum}}%"
      id="clickToDragPiece" 
      src="{{getPreviewSrc()}}"

      style="display:none; position:absolute; z-index: 31; width:{{100 / 7}}%" />

     <div ng-repeat="row in rows"
        style="position:absolute;  top:{{row * 100 / 6}}%; left:0%; width:100%; height:{{100 / 6}}%;">
      <img ng-repeat="col in cols" src="img/block1.png"
        style="position:absolute;  top:0; left:{{col * 100 / 7}}%; width:{{100 / 7}}%; height:100%;"
        ng-class = "getSquareClass(row, col)">
         <div ng-repeat="col in cols" style=" position:absolute;  top:9%; left:{{(col * 100 / 7)+1}}%; width:{{(100 / 7)-2}}%; height:78%" 
         ng-click="cellClicked(row, col)"
        id="{{'e2e_test_div_' + row + 'x' + col}}"
         >
          <img ng-class="{piece: true, rot: true, slowlyAppear: shouldSlowlyAppear(row, col) 
     
    }"
          ng-show="shouldShowImage(row, col)"
          ng-src="{{getImageSrc(row, col)}}"
          id="{{'e2e_test_img_' + row + 'x' + col}}"
          >
      </div>
    </div>


      

    </div> 
      <!-- <div ng-class="{cell:true}">
        <img src = "img/block1.png" div ng-class ="{cell:true}" ng-show = "oddSum(row, col)">
        <img src = "img/block1.png" ng-class = "{cell:true}" ng-show = "evenSum(row, col)">
       <img src = "img/red.png" ng-class ="{posit2: true, rot: true, slowlyAppear: shouldSlowlyAppear(row, col)}" ng-show = "isBlack(row, col)">
        <img src = "img/blue.png" ng-class ="{posit3: true,  rot: true, slowlyAppear: shouldSlowlyAppear(row, col)}" ng-show = "isWhite(row, col)"> 
      </div> -->
 


      
  </div>
</body>
</html>
