

.piece{
  position: absolute;
  width: 105%;
  height: 114%;
  left: -4%;
  top: -6%;
  /*float: left;
  z-index: 20;
  border-style: none;*/
  /*width: 70px;
  height: 70px;*/
}



/******** ANIMATION **********/

.slowlyAppear {
  -webkit-animation: slowlyAppear 0.5s ease-in-out forwards; /* Chrome, Safari, Opera */
  animation: slowlyAppear 0.5s ease-in-out forwards;
}

.rot {
  -webkit-animation:coinflip 0.75s ease-in;
  animation:coinflip 0.75s ease-in;
}

@-webkit-keyframes coinflip {
  0% {
    top: -350px;
  }
  75% {
    top: 0px;
  }
  80% {
    top: 20px;
  }
  85% {
    top: 0px;
  }
  90% {
    top: -10px;
  }
  95% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

@keyframes coinflip {
  0% {
    top: -350px;
  }
  75% {
    top: 0px;
  }
  80% {
    top: 20px;
  }
  85% {
    top: 0px;
  }
  90% {
    top: -10px;
  }
  95% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.selectB:hover{
  filter: brightness(200%);
  -webkit-filter: brightness(200%);
}
.selectP:hover{
  filter: brightness(135%);
  -webkit-filter: brightness(135%);
}
